<aside class="aside-navigation">
    <nav class="main-navigation">
        <ul>
            <li>
                <div class="profile-container">
                    <div class="left-side-wrapper">
                        <img src="/Todo-App/public/src/pics/{{ app.user.profileImage }}" alt="profile image">
                        <div class="current-level">{{ app.user.level }}</div>
                    </div>
                    <div class="profile-information">
                        {{ app.user.name }}
                        {% if(app.user.lastname) %}
                            <div>{{ app.user.lastname }}</div>
                        {% endif %}
                    </div>
                </div>
            </li>
            <li class="today">
                <a href="#">Today</a>
            </li>
            <li class="done-todos">
                <a href="#">Done Todos</a>
            </li>
            <li>
                <button class="button" data-settings-button>Settings</button>
            </li>
            <li>
                <a href="{{ path('todo_logout') }}" class="logout">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="copyright">
        <p>&copy; Copyright {{ 'now' | date('Y') }} by Dawid Oleksiuk. All rights reserved.</p>
    </div>
</aside>