<div class="name-container" data-name-container>
    {{ include('todo/twigBlocks/profile-popup.html.twig') }}
    {{ form_start(userNameForm, {'attr': {'novalidate':'novalidate', 'class':'form settings-name'}}) }}
        <div>
            <label for="new-name">New first name:</label>
                {{ name|raw }}
            <div class="validation"></div>
                {{ form_errors(userNameForm.name) }}
        </div>
        <div>
            <label for="new-last-name">New last name:</label>
                {{ lastname|raw }}
            <span>
                {{ form_errors(userNameForm.last_name) }}
            </span>
        </div>
        <button class="submit" type="submit">Apply</button>
    {{ form_end(userNameForm) }}
    {{ include('todo/twigBlocks/button-back-popup.html.twig') }}
</div>