<div class="password-container" data-password-container>
    {{ include('todo/twigBlocks/profile-popup.html.twig') }}
    {{ form_start(userPasswordForm, {'attr': {'novalidate':'novalidate', 'class':'form'}}) }}
        <div>
            <label for="new-password">New password:</label>
            {{ passwordFirst|raw }}
        </div>
        <div>
            <label for="repeat-new-password">Repeat new password:</label>
            {{ passwordConfirm|raw }}
        </div>
        <button class="submit" type="submit">Apply</button>
    {{ form_end(userPasswordForm) }}
    {{ include('todo/twigBlocks/button-back-popup.html.twig') }}
</div>