<div class="settings" data-settings>
    <div class="content">
        <button class="button settings-button" data-settings-button-back></button>
        <div class="overview-settings" data-overview-settings>
            {{ include('todo/twigBlocks/profile-popup.html.twig') }}
            <h3 class="headline h3">Your Level</h3>
            <div class="level">
                <div class="bar">
                    <div class="progression-to-lvl-up" data-progression-to-lvl-up></div>
                </div>
                <div class="information">
                    <span class="gained" data-gained-exp>{{ app.user.exp }}</span> /
                    <span class="to-lvl-up" data-exp-to-lvl-up>{{ app.user.levelUp }}</span>
                </div>
            </div>
            <div class="options">
                <button data-name>Change Name</button>
            </div>
            <div class="options">
                <button data-password>Change password</button>
            </div>
            <div class="options">
                <button data-image>Change Image</button>
            </div>
            <div class="options delete">
                <button data-delete>Delete account</button>
            </div>
            <div class="options">
                <a href="{{ path('todo_logout') }}">Logout</a>
            </div>
        </div>
        {% if userNameForm.name.vars.errors|length %}
            {% set name = form_widget(userNameForm.name, { 'attr': {'class': 'input-option is-invalid', 'placeholder': 'Your new first name'} }) %}
        {% else %}
            {% set name = form_widget(userNameForm.name, { 'attr': {'class': 'input-option', 'placeholder': 'Your first name'} }) %}
        {% endif %}
        {% if userNameForm.last_name.vars.errors|length %}
            {% set lastname = form_widget(userNameForm.last_name, { 'attr': {'class': 'input-option is-invalid', 'placeholder': 'Your new last name'} }) %}
        {% else %}
            {% set lastname = form_widget(userNameForm.last_name, { 'attr': {'class': 'input-option', 'placeholder': 'Your first name'} }) %}
        {% endif %}
        {% if userPasswordForm.password.first.vars.errors|length %}
            {% set passwordFirst =  form_widget(userPasswordForm.password.first, { 'attr': {'class': 'input-option is-invalid', 'placeholder': 'Your current password'} }) %}
        {% else %}
            {% set passwordFirst = form_widget(userPasswordForm.password.first, { 'attr': {'class': 'input-option', 'placeholder': 'Your password'} }) %}
        {% endif %}
        {% set passwordConfirm = form_widget(userPasswordForm.password.second, { 'attr': {'class': 'input-option', 'placeholder': 'Repeat new password'} }) %}
        {{ include('todo/twigBlocks/name-popup.html.twig') }}
        {{ include('todo/twigBlocks/password-popup.html.twig') }}
        {{ include('todo/twigBlocks/image-popup.html.twig') }}
        {{ include('todo/twigBlocks/delete-popup.html.twig') }}
    </div>
</div>