<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">

    <meta property="og:title" content="Todo App" >
    <meta property="og:type" content="website" >
    <meta property="og:description" content="This App gonna be your best friend in evey day journey" >
    <meta property="og:locale" content="pl_PL" >
    <meta property="og:locale:alternate" content="en_GB" >
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('favicon.png') }}">

    <title>{% block title %}Todo App{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('build/main.css') }}">

    <script src="{{ asset('build/runtime.js') }}" defer></script>
    <script src="{{ asset('build/vendor.js') }}" defer></script>
    <script src="{{ asset('build/main.js' ) }}" defer></script>
</head>
<body class="">
<div class="content-wrapper">
    {{ include('todo/twigBlocks/header.html.twig') }}
    <main class="page-body">
        <div class="wrapper">
            <div class="container">
                {{ include('todo/twigBlocks/main-navigation-sidebar.html.twig') }}
                {% block main %}{% endblock %}
            </div>
        </div>
        {% block popup %}{% endblock %}
        {{ include('todo/twigBlocks/settings.html.twig') }}
        <div class="blur"></div>
    </main>
</div>
</body>
</html>
